*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.loader-container {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.loading, span.outro {
    width: 45px;
    height: 45px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    position: absolute; /* ISSO faz um ficar sobre o outro */
    top: 0;
    left: 0;
}

span.loading {
    border: 5px solid rgb(34, 0, 255);
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    animation: loading 2s infinite linear; /* Adicionei 'linear' para fluidez */
}

span.outro {
    border: 5px solid blue; /* Mudei a cor para você ver o efeito */
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    animation: outro 1s infinite linear;
}

@keyframes loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes outro {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); } /* Rotates opposite way */
}